.back-container{
    background-color: black;
    padding: 16px;
}

.top-container-heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.top-container-heading2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}
.second-container{
    padding: 30px;
    margin: 20px;
}
.second-container-paragraph{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
    width: 350px;
}
.third-container{
    background-color: black;
}
.third-container-paragraph{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding: 15px;
    margin: 10px;
}


